.DS_Store

node_modules/
brownie/.direnv
brownie/build
brownie/reports
brownie/dist

subgraph/generated
*/**/.envrc
__pycache__
.history
.hypothesis/
reports/
.pytest_cache
.env
nethereum-gen.settings
.vscode
secret

frontend/node_modules
